<form method="POST">
    <label for="search-input" class="form-label">Từ khoá</label>
    <input type="text" name="q" class="form-control mt-3" id="search-input" placeholder="Nhập từ khoá..." >
    <select name="gender" class="form-control mt-3" id="gender-input">
      <option value="">--Chọn giới tính</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
    </select>
    <button type="submit" class="btn btn-primary mt-3">Tìm kiếm</button>
  </div>

  
</form>